bcrypt==5.0.0
blinker==1.9.0
certifi==2026.6.17
click==8.4.2
colorama==0.4.6
dnspython==2.8.0
Flask==3.1.3
flask-cors==6.0.5
Flask-PyMongo==3.0.1
gunicorn==23.0.0
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
mediapipe==0.10.14
numpy==1.26.4
opencv-contrib-python-headless==4.10.0.84
packaging==26.2
pillow==12.3.0
protobuf==4.25.9
PyJWT==2.13.0
pymongo==4.17.0
python-dotenv==1.2.2
requests==2.34.2
scikit-learn==1.9.0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
typing_extensions==4.16.0
urllib3==2.7.0
Werkzeug==3.1.8
google-auth-oauthlib==1.4.0
google-auth==2.40.3
ibm-watsonx-ai
matplotlib==3.11.0
